<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>장바구니</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../img/favicon.png" rel="icon">
    <link href="../img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <th:block th:replace="/headerFooter.html :: configFragment"></th:block>
</head>

<body>
<div th:replace="/headerFooter.html :: top-bar"></div>
<div th:replace="/headerFooter.html :: main-header"></div>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
<!--                <th:block th:if="${list != null}"><h2 th:text="test test test"></h2></th:block>-->
                <ol>
                    <li><a>장바구니 테스트 장바구니 테스트</a></li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <table>
                <thead>
                <tr>
                    <th colspan="3">장바구니</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:if="${list == null}">
                    <td th:text="'장바구니에 담아주세요'"></td>
                </th:block>
                <tr th:each="list :${list}">
                    <td rowspan="1"><input type="checkbox" id="cartNum" th:value="${list.cartNum}"/></td>
                    <td th:text="'상품 코드 : '+${list.productName}"></td>
                    <td th:text="'상품 수량 : '+${list.cartQuantity}"></td>
                    <td th:text="'총 가격 : '+${list.totalPrice}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div th:replace="/headerFooter.html :: footer"></div>
<th:block th:replace="/headerFooter.html :: script"></th:block>
</body>
</html>