<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>온라인쇼핑 - 상세페이지</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../img/favicon.png" rel="icon">
    <link href="../img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <th:block th:replace="/headerFooter.html :: configFragment"></th:block>
</head>

<body>
    <div th:replace="/headerFooter.html :: top-bar"></div>
    <div th:replace="/headerFooter.html :: main-header"></div>

    <main id="main">

        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <th:block th:if="${info.productType == 1}"><h2 th:text="원두"></h2></th:block>
                    <th:block th:if="${info.productType == 2}"><h2 th:text="텀블러"></h2></th:block>
                    <th:block th:if="${info.productType == 3}"><h2 th:text="컵"></h2></th:block>
                    <th:block th:if="${info.productType == 4}"><h2 th:text="굿즈"></h2></th:block>
                    <ol>
                        <li><a href="/product">스토어</a></li>
                        <li>Portfolio Details</li>
                    </ol>
                </div>

            </div>
        </section>

        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-8">
                        <div class="portfolio-details-slider swiper">
                            <div class="swiper-wrapper align-items-center">

                                <div class="swiper-slide">
                                    <img th:src="${info.productImg}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            <h3 th:text="${info.productName}"></h3>
                            <ul>
                                <th:block th:if="${info.productType == 1}">
                                    <li><strong>Category </strong><a th:text="원두"></a></li>
                                </th:block>
                                <th:block th:if="${info.productType == 2}">
                                    <li><strong>Category </strong><a th:text="텀블러"></a></li>
                                </th:block>
                                <th:block th:if="${info.productType == 3}">
                                    <li><strong>Category </strong><a th:text="컵"></a></li>
                                </th:block>
                                <th:block th:if="${info.productType == 4}">
                                    <li><strong>Category </strong><a th:text="굿즈"></a></li>
                                </th:block>
                                <li><strong>가격</strong><a th:text="${info.productPrice}"></a></li>
                            </ul>
                        </div>
                        <div class="portfolio-description">
                            <h2>This is an example of portfolio detail</h2>
                            <form commandName="cartCommand" action="/cartAdd" method="get">
                                수량 : <input type="number" id="cartQuantity" name="cartQuantity">
                                <input type="hidden" id="productCode" name="productCode" th:value="${info.productCode}">
                                <th:block th:if="${authInfo != null}"><input type="hidden" id="memberNum" name="memberNum" th:value="${authInfo.no}"></th:block>
<!--                                <th:block th:if="${session.user.email != null}"><input type="hidden" id="email" name="email" th:value="${session.user.email}"></th:block>-->
                                <th:block th:if="${authInfo != null}"><input type="submit" value="장바구니 담기"></th:block>
                                <th:block th:if="${authInfo == null}"><input type="button" onclick="location.href='/signin'" value="로그인 하기"></th:block>

                            </form>
                            <p>
                                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore
                                quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim.
                                Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi
                                nulla at esse enim cum deserunt eius.
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section>

    </main>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <div th:replace="/headerFooter.html :: footer"></div>
    <th:block th:replace="/headerFooter.html :: script"></th:block>
</body>

</html>