<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>관리자 공지사항관리</title>
    <div th:replace="/adminHeader.html :: header"></div>
</head>

<body>
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>공지사항 게시판</h2>
                <ol>
                    <li><a href="index.html">Admin</a></li>
                    <li>Notice Manage</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>공지번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>조회수</th>
                        <th>공지일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="list :${noticeList}">
                        <td th:text="${list.noticeNum}"></td>
                        <td><a th:href="@{/adminNotice/detail/{noticeNum}(noticeNum=${list.noticeNum})}" th:text="${list.noticeTitle}"></a></td>
                        <td> 관리자 </td>
                        <td th:text="${list.noticeCount}"></td>
                        <td th:text="${#dates.format(list.noticeDate,'yyyy-MM-dd')}"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">

                                <th:block th:switch="${totalCntJudge}">
                                    <th:block th:case="101">
                                        <th:block th:if="${(section)*100<totalCnt}">
                                            <th:block th:each="page : ${#numbers.sequence(1,10,1)}">
                                                <th:block th:if="${section >1 && page==1}">
                                                    <a th:href="@{/adminNotice(section=${section}-1, pageNum=10)}"> << </a>
                                                </th:block>
                                                <a th:href="@{/adminNotice(section=${section}, pageNum=${page})}"><span th:text="${((section)-1)*10+page}"></span></a>
                                                <th:block th:if="${page==10}">
                                                    <a th:href="@{/adminNotice(section=${section+1}, pageNum=1)}"> >> </a>
                                                </th:block>
                                            </th:block>
                                        </th:block>

                                        <th:block th:if="${(section)*100>totalCnt}">
                                            <th:block th:each="page : ${#numbers.sequence(1, (((totalCnt+9)-((section)-1)*100)/10) ,1)}">
                                                <th:block th:if="${section >1 && page==1}">
                                                    <a th:href="@{/adminNotice(section=${(section)-1}, pageNum=10)}"> << </a>
                                                </th:block>
                                                <a th:href="@{/adminNotice(section=${section}, pageNum=${page})}"><span th:text="${((section)-1)*10+page}"></span></a>
                                            </th:block>
                                        </th:block>

                                        <th:block th:if="${(section)*100==totalCnt}">
                                            <th:block th:each="page : ${#numbers.sequence(1, 10 ,1)}">
                                                <th:block th:if="${section >1 && page==1}">
                                                    <a th:href="@{/adminNotice(section=${(section)-1}, pageNum=10)}"> << </a>
                                                </th:block>
                                                <a th:href="@{/adminNotice(section=${section}, pageNum=${page})}"><span th:text="${((section)-1)*10+page}"></span></a>
                                            </th:block>
                                        </th:block>

                                    </th:block>
                                    <th:block th:case="100">
                                        <th:block th:each="page : ${#numbers.sequence(1,10,1)}">
                                            <a th:href="@{/adminNotice(section=${section}, pageNum=${page})}"><span th:text="${page}"></span></a>
                                        </th:block>
                                    </th:block>
                                    <th:block th:case="99">
                                        <th:block th:each="page : ${#numbers.sequence(1,((totalCnt+9)/10),1)}">
                                            <a th:href="@{/adminNotice(section=${section}, pageNum=${page})}"><span th:text="${page}"></span></a>
                                        </th:block>
                                    </th:block>
                                </th:block>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" th:value="등록" th:onclick="|location.href='@{/adminNotice/regist}'|">
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>
</body>
<div th:replace="/footer.html :: footer"></div>
</html>