<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>관리자 공지사항등록</title>
    <div th:replace="/adminHeader.html :: header"></div>

<body>
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>공지사항 등록</h2>
                <ol>
                    <li><a href="index.html">Admin</a></li>
                    <li>Notice Regi</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">

             <form th:object="${noticeCommand}" th:action="@{/adminNotice/regist}" method="post">
                 제목:<input type="text" th:field="*{noticeTitle}"> <br>
                 내용:<textarea th:field="*{noticeContent}"></textarea> <br>
                 <input type="submit" value="전송">
             </form>

        </div>
    </section>
</body>
<div th:replace="/footer.html :: footer"></div>
</html>