<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <th:block th:replace="/headerFooter.html :: configFragment"></th:block>

    <title>원데이클래스 관리</title>
</head>

<body>
    <div th:replace="/headerFooter.html :: top-bar"></div>
    <div th:replace="/headerFooter.html :: admin-header"></div>

    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Oneday Class</h2>
                <ol>
                    <li>원데이클래스</li>
                    <li>관리자</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <br><br><br>

    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-6 table-responsive">

            <div>
                <form th:action="@{/adminOnedayClassOpen}" th:object="${onedayClassOpenCommand}" method="post">
                    원데이 클래스 날짜 : <input type="date" th:field="*{classDate}"> // 인원 수 : <input type="number" th:field="*{classCapacity}" value="1" min="1" max="100">
                    <input type="submit" value="OPEN!!" class="btn btn-primary btn-sm" style="background-color: #865439; border: 0;">
                </form>

                <div class="onedayList" th:each="list :${onedaylist}">
                    <div class="onedayView">
                        <div class="onedayTitle">
                            [[${list.classNum}]]회차 Oneday Class
                        </div>
                        <hr style="color:#865439">
                        <div class="onedayDate">
                            날짜 : [[${#dates.format(list.classDate,'yyyy-MM-dd')}]]
                        </div>
                        <div class="onedayCapacity">
                            <div class="capacity">
                                모집인원 : [[${list.classCapacity}]]
                            </div>
                            <a class="onedayRegiIcon" th:href="@{/adminOnedayClass/Detail/{classNum}(classNum=${list.classNum})}">
                                <i class="fas fa-search"></i>
                            </a>
                            <a th:href="@{/adminOnedayClass/delete/{classNum}(classNum=${list.classNum})}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <th:block th:switch="${totalCntJudge}">
                    <th:block th:case="101">
                        <th:block th:if="${(section)*100<totalCnt}">
                            <th:block th:each="page : ${#numbers.sequence(1,10,1)}">
                                <th:block th:if="${section >1 && page==1}">
                                    <a th:href="@{/adminOnedayClass(section=${section}-1, pageNum=10)}"> << </a>
                                </th:block>
                                <a th:href="@{/adminOnedayClass(section=${section}, pageNum=${page})}"><span th:text="${((section)-1)*10+page}"></span></a>
                                <th:block th:if="${page==10}">
                                    <a th:href="@{/adminOnedayClass(section=${section+1}, pageNum=1)}"> >> </a>
                                </th:block>
                            </th:block>
                        </th:block>

                        <th:block th:if="${(section)*100>totalCnt}">
                            <th:block th:each="page : ${#numbers.sequence(1, (((totalCnt+9)-((section)-1)*100)/10) ,1)}">
                                <th:block th:if="${section >1 && page==1}">
                                    <a th:href="@{/adminOnedayClass(section=${(section)-1}, pageNum=10)}"> << </a>
                                </th:block>
                                <a th:href="@{/adminOnedayClass(section=${section}, pageNum=${page})}"><span th:text="${((section)-1)*10+page}"></span></a>
                            </th:block>
                        </th:block>

                        <th:block th:if="${(section)*100==totalCnt}">
                            <th:block th:each="page : ${#numbers.sequence(1, 10 ,1)}">
                                <th:block th:if="${section >1 && page==1}">
                                    <a th:href="@{/adminOnedayClass(section=${(section)-1}, pageNum=10)}"> << </a>
                                </th:block>
                                <a th:href="@{/adminOnedayClass(section=${section}, pageNum=${page})}"><span th:text="${((section)-1)*10+page}"></span></a>
                            </th:block>
                        </th:block>

                    </th:block>
                    <th:block th:case="100">
                        <th:block th:each="page : ${#numbers.sequence(1,10,1)}">
                            <a th:href="@{/adminOnedayClass(section=${section}, pageNum=${page})}"><span th:text="${page}"></span></a>
                        </th:block>
                    </th:block>
                    <th:block th:case="99">
                        <th:block th:each="page : ${#numbers.sequence(1,((totalCnt+9)/10),1)}">
                            <a th:href="@{/adminOnedayClass(section=${section}, pageNum=${page})}"><span th:text="${page}"></span></a>
                        </th:block>
                    </th:block>
                </th:block>

            </div>

            </div>
        </div>
    </div>

    <br><br><br>
    <div th:replace="/headerFooter.html :: footer"></div>
    <th:block th:replace="/headerFooter.html :: script"></th:block>
</body>
</html>