<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <th:block th:replace="/headerFooter.html :: configFragment"></th:block>

    <title>원데이클래스 신청</title>
</head>

<body>
    <div th:replace="/headerFooter.html :: top-bar"></div>
    <div th:replace="/headerFooter.html :: main-header"></div>

    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Oneday Class Regi</h2>
                <ol>
                    <li>원데이클래스 등록</li>
                    <li><a href="/">메인으로</a></li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            원데이클래스 등록

            <form th:action="@{/class/regist}" th:object="${onedayClassRegiCommand}" method="post">
                <input type="hidden" name="memberNum" th:value="${session.authInfo.no}">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2"> Class Name </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th> 신청자 </th>
                            <td th:text="${session.authInfo.name}"> </td>
                        </tr>
                        <tr>
                            <th> 참가인원 </th>
                            <td> <input type="number" th:field="*{classApplicantsNum}"min="0"> * 신청자를 포함한 총 인원을 선택해주세요</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2">
                                <input type="submit" value="신청하기">
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </form>

            <div class="onedayList" th:each="list :${classList}">
                <div class="onedayTitle">
                    <span th:text="|${list.classNum}회차 OnedayClass|"></span>
                    <hr>
                    날짜 : <span th:text="${#dates.format(list.classDate,'yyyy-MM-dd')}"></span><br>
                    신청인원 : <span th:text="|${list.classApplicantsNum}/${list.classCapacity}|"></span>
                </div>
                <div> <a th:href="@{/onedayClass/regist/{classNum}(classNum=${list.classNum})}"><i class="fas fa-edit fa-2x"></i></a></div>
            </div>


        </div>
    </section>

    <div th:replace="/headerFooter.html :: footer"></div>
    <th:block th:replace="/headerFooter.html :: script"></th:block>
</body>
</html>