@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body {
    background: #2D2424;
    background: linear-gradient(to right, #2D2424, #5c3d2e);
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

a:link { color: #5C3D2E; text-decoration: none;}
a:visited { color: #5C3D2E; text-decoration: none;}
a:hover { color: #B85C38; text-decoration: none;}