<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <th:block th:replace="/headerFooter.html :: configFragment"></th:block>

    <title>관리자 상품등록</title>
<body>
    <div th:replace="/headerFooter.html :: top-bar"></div>
    <div th:replace="/headerFooter.html :: admin-header"></div>

    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>상품 등록</h2>
                <ol>
                    <li><a href="index.html">Admin</a></li>
                    <li>Notice Regi</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">

            <form  th:action="@{/adminProductRegi}" th:object="${adminProductRegiCommand}" method="post" enctype="multipart/form-data">

                이름 : <input type="text" th:field="*{productName}"> <br>
                수량 : <input type="text" th:field="*{productQuantity}"> <br>
                가격 : <input type="text" th:field="*{productPrice}"> <br>
                상품이미지 : <input type="file" th:field="*{productImg}"> <br>
                <input type="submit" value="전송">

            </form>

        </div>
    </section>
    <div th:replace="/headerFooter.html :: footer"></div>
    <th:block th:replace="/headerFooter.html :: script"></th:block>
</body>
</html>