<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>테스트입니다.</title>
</head>
<body>

<table>
    <tr>
        <th>memberNum</th>
        <th>memberId</th>
        <th>memberPassword</th>
        <th>memberName</th>
        <th>memberMail</th>
        <th>memberPhone</th>
    </tr>
    <tr th:each="list :${memberList}">
        <td th:text="${list.memberNum}"></td>
        <td th:text="${list.memberId}"></td>
        <td th:text="${list.memberPw}"></td>
        <td th:text="${list.memberName}"></td>
        <td th:text="${list.memberEmail}"></td>
        <td th:text="${list.memberPhone}"></td>
    </tr>

</table>
</body>
</html>