<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.kyp.kypcoffee.mapper.PayMapper">

    <insert id="insertPay" parameterType="team.kyp.kypcoffee.domain.Payment">
        INSERT INTO payment
        VALUES(payCode_seq.nextval, payNum_seq.nextval, #{productCode}, #{cartQuantity}, #{price},
               #{imp_uid}, '결제완료', #{payDate}, #{memberNum})
    </insert>

    <insert id="insertPayMoreThan" parameterType="team.kyp.kypcoffee.domain.Payment">
        INSERT INTO payment
        VALUES(payCode_seq.nextval, payNum_seq.currval, #{productCode}, #{cartQuantity}, #{price},
               #{imp_uid}, '결제완료', #{payDate}, #{memberNum})
    </insert>

    <select id="selectPaymentByMemberNum" parameterType="int" resultType="team.kyp.kypcoffee.domain.Payment">
        select p.*, pin.PRODUCTNAME from payment p LEFT OUTER JOIN PRODUCT_INFO pin ON p.productcode = pin.PRODUCTCODE WHERE MEMBERNUM = #{memberNum} order by paynumber desc
    </select>

    <select id="selectPayCount" parameterType="int" resultType="team.kyp.kypcoffee.domain.PayInfoCount">
        select payNumber, count(*) AS count, memberNum from payment group by payNumber, memberNum having count(*) > 0 AND memberNum = #{memberNum} ORDER BY payNumber desc
    </select>

</mapper>