<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.kyp.kypcoffee.mapper.PayMapper">

    <insert id="insertPay" parameterType="team.kyp.kypcoffee.domain.Payment">
        INSERT INTO payment
        VALUES(payCode_seq.nextval, payNum_seq.nextval, #{productCode}, #{cartQuantity}, #{price},
               #{imp_uid}, '결제완료', #{payDate})
    </insert>

    <select id="memberInfoByMemberNum" resultType="team.kyp.kypcoffee.domain.Payment">
        select * from member WHERE MEMBERNUM = #{memberNum}
    </select>

</mapper>