<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.kyp.kypcoffee.mapper.QnaBoardMapper">

    <sql id="selectAll">
        SELECT * FROM qna_board
    </sql>

    <select id="selectAllList" resultType="team.kyp.kypcoffee.domain.QnaBoard">
        SELECT qnaBoardNum, b.memberNum, m.memberName, qnaBoardTitle, qnaBoardDate, qnaBoardContent
        FROM qna_board b left outer join member m on b.memberNum = m.memberNum
        ORDER BY qnaBoardNum DESC
    </select>

    <select id="selectView" resultType="team.kyp.kypcoffee.domain.QnaBoard">
        SELECT qnaBoardNum, b.memberNum, m.memberName, qnaBoardTitle, qnaBoardDate, qnaBoardContent
        FROM qna_board b left outer join member m on b.memberNum = m.memberNum
        WHERE qnaBoardNum=#{qnaBoardNum}
    </select>


    <select id="selectById" parameterType="String">
        <include refid="selectAll" />
        WHERE memberId=#{memberId}
    </select>



    <update id="updateBoard" parameterType="team.kyp.kypcoffee.domain.QnaBoard">
        UPDATE qna_board
        SET qnaBoardTitle=#{qnaBoardTitle}, qnaBoardContent=#{qnaBoardContent}
        WHERE qnaBoardNum=#{qnaBoardNum}
    </update>

    <insert id="insertBoard" parameterType="team.kyp.kypcoffee.domain.QnaBoard">
        INSERT INTO qna_board
        VALUES(qna_board_seq.nextval,#{memberNum},#{qnaBoardTitle},#{qnaBoardContent},SYSDATE)
    </insert>

    <delete id="deleteBoard" parameterType="Integer">
        DELETE qna_board WHERE qnaBoardNum=#{qnaBoardNum}
    </delete>

</mapper>